<div id="who-we-are">
  <h3>Quem somos</h3>
  <div>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ligula ex, ornare at convallis id, varius a massa.
    Aliquam erat volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    Mauris pharetra nibh id urna aliquam, at blandit sapien lobortis. Vestibulum ante ipsum primis in faucibus orci
    luctus et ultrices posuere cubilia curae; Nullam sollicitudin eget ex non aliquam. Phasellus ornare semper
    efficitur. Aliquam mattis dapibus velit non pharetra. Aliquam ornare vel urna a scelerisque.

    Aliquam porta sapien a turpis maximus tincidunt. Curabitur tellus eros, blandit a maximus eu, pharetra sit amet
    mauris. Sed venenatis dictum rhoncus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
    inceptos himenaeos. Nam mattis aliquet diam vitae scelerisque. Proin quis nulla justo. Sed lacinia tortor sit amet
    nisi laoreet sodales.

    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi eget euismod nisl.
    Mauris iaculis sapien a eros iaculis rhoncus. Cras condimentum sem velit, a accumsan arcu tincidunt non. Fusce
    tempor nulla ut purus tristique porta. Maecenas fringilla aliquam quam et faucibus. Vivamus accumsan id orci id
    finibus. Proin eget lobortis ligula, nec consequat tellus. In gravida pharetra lectus. Nunc vitae lorem ipsum.
    Aenean sollicitudin dui nec elementum tristique. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
    posuere cubilia curae; Nunc et bibendum lectus.

    Aliquam non est faucibus, efficitur neque at, porttitor odio. Donec tortor ante, sollicitudin nec sem quis, feugiat
    ultricies sapien. Integer justo est, consectetur eu dui in, lobortis egestas dolor. Proin ut mi eget quam vulputate
    bibendum. Aliquam velit odio, lobortis quis felis in, porta mattis metus. Phasellus ullamcorper varius dui, molestie
    commodo odio ornare nec. Vestibulum auctor in risus vel faucibus. Nullam aliquet bibendum auctor.

    Sed quis feugiat felis. Praesent dignissim nibh a varius tincidunt. Nulla facilisi. Donec auctor, justo eu pretium
    convallis, lacus lorem vehicula est, eget sodales tellus ligula sed nunc. Cras vitae enim at ante feugiat sagittis
    vel eget ipsum. Proin a ornare elit. Aliquam varius sapien id tellus consequat, nec lacinia metus ultrices. Cras sed
    turpis id urna elementum dapibus.
  </div>



  <c-row>
    <c-col>
      <c-card class="mb-3">
        <img cCardImg="bottom" src="../../assets/people-imgs/pessoa2.jpg">
        <c-card-body>
          <h5 cCardTitle>Card title</h5>
          <p cCardText>
            This is a wider card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.
          </p>
          <p cCardText>
            <small class="text-medium-emphasis">Last updated 3 mins ago</small>
          </p>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col>
      <c-card class="mb-3">
        <c-card-body>
          <h5 cCardTitle>Card title</h5>
          <p cCardText>
            This is a wider card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.
          </p>
          <p cCardText>
            <small class="text-medium-emphasis">Last updated 3 mins ago</small>
          </p>
        </c-card-body>
        <img cCardImg="bottom" src="../../assets/people-imgs/pessoa1.jpg">
      </c-card>
    </c-col>
    <c-col>
      <c-card class="mb-3">
        <img cCardImg="bottom" src="../../assets/people-imgs/pessoa3.jpg">
        <c-card-body>
          <h5 cCardTitle>Card title</h5>
          <p cCardText>
            This is a wider card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.
          </p>
          <p cCardText>
            <small class="text-medium-emphasis">Last updated 3 mins ago</small>
          </p>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col>
      <c-card class="mb-3">
        <c-card-body>
          <h5 cCardTitle>Card title</h5>
          <p cCardText>
            This is a wider card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.
          </p>
          <p cCardText>
            <small class="text-medium-emphasis">Last updated 3 mins ago</small>
          </p>
        </c-card-body>
        <img cCardImg="bottom" src="../../assets/people-imgs/pessoa4.jpg">
      </c-card>
    </c-col>
  </c-row>
</div>
