<c-container>
  <h1>instagram</h1>
  <div>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui repellendus ducimus quis voluptatem quos quo quod delectus in, consequuntur, reiciendis repudiandae officiis optio dolore culpa molestiae ipsa eaque nisi non.
  </div>


  <c-card-group class="mb-4">
    <c-card>
      <img cCardImg="top" src="../../assets/people-imgs/Maratona_Icomp.png">
      <c-card-body>
        <h5 cCardTitle>Card title</h5>
        <p cCardText>
          This is a wider card with supporting text below as a natural lead-in to
          additional content. This content is a little bit longer.
        </p>
      </c-card-body>
      <c-card-footer>
        <small class="text-medium-emphasis">Last updated 3 mins ago</small>
      </c-card-footer>
    </c-card>
    <c-card>
      <img cCardImg="top" src="../../assets/people-imgs/Maratona_Icomp.png">
      <c-card-body>
        <h5 cCardTitle>Card title</h5>
        <p cCardText>
          This card has supporting text below as a natural lead-in to additional
          content.
        </p>
      </c-card-body>
      <c-card-footer>
        <small class="text-medium-emphasis">Last updated 3 mins ago</small>
      </c-card-footer>
    </c-card>
    <c-card>
      <img cCardImg="top" src="../../assets/people-imgs/Maratona_Icomp.png">
      <c-card-body>
        <h5 cCardTitle>Card title</h5>
        <p cCardText>
          This is a wider card with supporting text below as a natural lead-in to
          additional content. This card has even longer content than the first to show
          that equal height action.
        </p>
      </c-card-body>
      <c-card-footer>
        <small class="text-medium-emphasis">Last updated 3 mins ago</small>
      </c-card-footer>
    </c-card>
  </c-card-group>
</c-container>
