<c-container fluid class="page-logo-div" class="page-brand-logo">
</c-container>

<c-navbar colorScheme="light" expand="md" class="bg-light">
  <c-container fluid>
    <img src="../../assets/img/ufam.png" alt="" width="40" height="50" />
    <div navbar>
      <c-navbar-nav class="me-auto mb-2 mb-xl-0">
        <a cNavLink routerLink="./">Quem Somos</a>
        <a cNavLink routerLink="./">Sobre o evento</a>
        <a cNavLink routerLink="./">Social Media</a>
      </c-navbar-nav>
    </div>
  </c-container>
</c-navbar>
